[submodule "pkgs/argocd-extension-metrics"]
	path = pkgs/argocd-extension-metrics
	url = https://github.com/argoproj-labs/argocd-extension-metrics.git
[submodule "pkgs/argocd-extension-installer"]
	path = pkgs/argocd-extension-installer
	url = https://github.com/argoproj-labs/argocd-extension-installer.git
