[submodule "containers/argocd-extension-metrics"]
	path = containers/argocd-extension-metrics
	url = https://github.com/argoproj-labs/argocd-extension-metrics.git
[submodule "containers/argocd-extension-installer"]
	path = containers/argocd-extension-installer
	url = https://github.com/argoproj-labs/argocd-extension-installer.git
