{
  "$schema": "https://json.schemastore.org/prettierrc",
  "overrides": [
    {
      "files": "*.yaml,*.yml",
      "options": {
        "bracketSameLine": true,
        "proseWrap": "never",
        "bracketSpacing": false,
        "printWidth": 1000

      }
    }
  ]
}
