---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "chalk-playground-space-staging"
spec:
  secretName: "chalk-playground-space-staging-tls"
  issuerRef:
    name: letsencrypt-staging
    kind: ClusterIssuer
  commonName: "chalk-playground.space"
  dnsNames:
    - "chalk-playground.space"
    - "*.chalk-playground.space"
